<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>

    <h1>Weather for <span data-th-text="${city}"></span></h1>

    <div data-th-each="weather:${weather}">
        <table>
            <tr>
                <td>
                    <img data-th-src="@{http://openweathermap.org/img/wn/{icon}@2x.png(icon=${weather.icon})}" alt="">
                </td>
                <td>
                    <strong data-th-text="${weather.main}"></strong> - <span data-th-text="${weather.description}"></span>
                </td>
            </tr>
        </table>
    
    </div>
</body>
</html>