<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto price</title>
</head>
<body>
    <h1>Crypto Pricing for <span data-th-text="${fsym}"></span></h1>

    <div data-th-each="c:${price}"></div>
    <table>
        <tr>
            <td>
                <strong data-th-text="${c.fsym}"></strong>
                - 
                <span data-th-text="${c.tsyms}"></span>
            </td>
        </tr>
    </table>
    
</body>
</html>